App {
  display: grid;
  background: rgba(29, 232, 232, 0.283)

  
}

div {
  display: grid;
  justify-content: center;
  border-bottom: 1px solid gray;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: rgba(29, 232, 232, 0.283)

}